    .side_navbar {
        width: 250px;
        height: 100%;
        position: fixed;
        background-color: #4e73df;
        color: aliceblue;
        display: flex;
    }

    /* @media screen and (max-width: 700px) {
        .side_navbar {
            display: none;
        }
    } */

    ul {
        list-style-type: none;
    }

    .li_1 {
        list-style-type: none;
        text-decoration: none;
        opacity: 80%;
        color: aliceblue;
        text-underline-offset: none;
    }

    .li_1:hover {
        opacity: 150%;
        color: aliceblue;
        text-decoration: none;
    }

    .li_1 {
        padding: 1rem;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
    }

    .li_2 {
        padding: 1rem 0rem 3rem 1rem;
        font-weight: bold;
        font-size: x-large;
        display: block;
        list-style-type: none;
        color: aliceblue;
    }

    .li_2:hover {
        text-decoration: none;
        color: orange;
        list-style-type: none;
    }

    .top_nav {
        width: 100%;
        background-color: white;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top_nav_search {
        border-radius: 5px;
        border: none;
        height: 35px;
        width: 300px;
    }

    .fas {
        padding-right: 5px;
    }

    .form_div {
        display: flow-root;
        justify-content: center;
        background-color: #fff;
        width: 50%;
        align-items: center;
        margin: 120px 51px 51px 400px;
        border-radius: 20px;
        box-shadow: 5px 10px 18px #888888a2;
    }

    .container-fluid {
        justify-content: space-evenly;
        align-items: center;
    }

    @media screen and (max-width: 480px) {
        .container-fluid {
            margin: 0;
        }
    }

    .d_board {
        margin-top: 50px;
        margin-left: 280px;
        width: 80%;
        display: flex;
    }

    .register_form {
        width: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 120px 51px 51px 400px;
        ;
        border-radius: 20px;
        box-shadow: 5px 10px 18px #888888a2;
    }

    .form-all {
        box-shadow: rgba(87, 100, 126, 0.21) 0px 4px 4px;
        background-color: rgb(255, 255, 255);
        width: 1185px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 295px;
        list-style-type: none;
        margin-bottom: 80px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 5px 10px 18px #888888a2;
    }

    @media screen and (min-width:1920px) {
        .form-all {
            width: 1565px;
            /* background-color: brown; */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    /* .col-md-6 {
        border-radius: 20px;
        background-color: #4e73df;
    } */

    #id_3 {
        font-weight: 600;
        justify-content: space-around;
        padding: 10px;
    }

    #id_2 {

        align-items: center;
        text-align: center;
        padding: 2rem;
    }

    #input_2:hover {
        opacity: 1;
        background-color: rgb(78, 115, 223);
        color: rgb(0, 0, 0);

    }

    #input_2 {
        box-shadow: rgba(87, 100, 126, 0.21) 0px 3px 3px;
        align-items: center;
        background-color: rgb(78, 115, 223);
        color: rgb(255, 255, 255);
        border-radius: 3px;
        outline: #ffffff;
    }

    #table_1 {
        width: 1200px;
        justify-content: center;
        margin-left: 285px;
        margin-bottom: 4rem;
        /* background-color:#4edf4e; */
    }

    @media screen and (min-width:1920px) {
        #table_1 {
            width: 1550px;
            margin-left: 300px
                /* background-color: rgb(77, 71, 255); */
        }
    }

    /* @media screen and (min-width: 1536px) {
        #table_1 {
            background-color: rgb(226, 43, 43);
            width:1581px;
            margin-left: 295px
        }
    } */

    /* #table_1 {
            width: 1200px;
            justify-content: center;
            margin-left: 275px;
            margin-bottom: 4rem;
        } */

    .bg-light {
        padding: 15px 30px;
        border: 1px solid rgb(77, 88, 251);
        border-radius: 15px 0px 15px 0px;
        margin-top: 50px;
        margin-left: 50px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'ZCOOL XiaoWei', serif;
        margin-bottom: 25px;
        padding: 15px;
    }

    .text-white {
        font-size: 28px;
    }

    label {
        font-family: 'Raleway', sans-serif;
    }

    div:empty {
        display: none !important;
    }

    .alert.alert-danger.alert-dismissible,
    .alert.alert-info.alert-dismissible,
    .alert.alert-success.alert-dismissible,
    .alert.alert-warning.alert-dismissible {
        margin-top: 5px;
    }

    .credits {
        margin-top: 50px;
        padding: 20px;
        border-radius: 5px;
        width: 450px;
        text-align: center;
        color: gray;
    }

    a {
        color: gray;
        text-decoration: none;
    }

    a:hover {
        color: #34495E;
    }